
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
 font-family:url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&family=Oswald:wght@400;500;600&family=Roboto:ital,wght@1,100;1,500;1,900&display=swap');
;
}

.nav{
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin: 30px;
    color: coral;
    height: 200px;
    background-color: cornflowerblue;
}

.button-menu{
    border-radius: 5px;
    margin: 20px;
    height: 30px;
    width: 130px;
}

.imgCartWiget{
    height: 50px;
    width: 50px;
}

.h1Greeting{
    text-align: center;
}